*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    display: inline-flex;
    flex-wrap: wrap;
    margin-left:50px;
    padding-left:0;

}
.container {
    width: 100%;
   

    margin-right: auto;
    margin-left: auto
}
.clearfix {
    clear: both;
}


.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
.col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}

ul {
    list-style: none;
}
li{
    text-decoration: none;
    display:inline-flex;
    padding:10px;
    margin:10px;
    
}
a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}




header{
    margin:0;
    padding: 0;
    position: relative;
    
}

.top-header{
    position: relative;
    background: #0c74a4;
    width: auto;
    height: 8vh;
    
    display: flex;
    flex-wrap: wrap;
}

.flex-item-left{
    position: relative;
    width:auto;
    margin-left: 80px;
}

.flex-item-right{
     position: relative;
     width:auto;
     float: right;
     margin-left: 350px;
}

.flex-item-right li {
    width:  100%;
    
    text-decoration: none;
    display: inline-flex;
    
    padding-left: 20px;
color: #fff;
text-decoration: none;
color: #fff;
text-transform: uppercase;
}
.flex-item-left a:hover{
    color:#f4ac04;
}

.flex-item-right li:hover{
    color:#f4ac04;
    cursor: pointer;
}



.main-header{
    height: 30vh;
 
}
.logo-section img{
    
    padding-top: -20px;
    padding-left: 50px;
}

.item-right{
    display: flex;
    flex-wrap: wrap;
    float: right;
    margin-top: -100px;
   
    font-size: 1.2rem;
    margin-left: 200px;
}

strong{
    color: rgb(78, 78, 78);
}

span{
    line-height: 30px;
    padding-left: 250px;
}
.nav-menu{
    background-color: #f4ac04;
    width: 80%;
    height: 9vh;
    margin-left: 130px;
    margin-top: 220px;
    z-index: 1;
    position: absolute;
}
.nav-menu a{
    color:#fff;
    
}
.nav-menu .menu{
    position: relative;
    width:100%;
    margin: 0px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#d6b872;
    min-width: 160px;
    height: 20vh;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   margin-left: 0px;
    z-index: 1;
    margin-top: 10pxv;
    
}
.dropbtn {
    display: inline-block;
    color:rgb(73, 72, 72);
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    margin-left: 10px;
     margin-top: -150px;
    
}

.dropdown {
    display: inline-block;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a{
    display:block;
    margin-top: 20px;
    margin-left: 50px;

}
.dropdown-content a:hover{
 color: #fff;
 background-color: #f4ac04;
 width: 100%;
 margin-left: 0px;
}

.banner-section{
    margin: 0;
    margin-top: 200px;
}

.banner-section img{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    z-index: 2;
}
.centered {
    color:#fff;
    position: absolute;
    top: 80%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.centered h2{
    letter-spacing: 5px;
    font-weight: normal;
    font: italic;
}
.centered h1{
    font-size: 3rem;
    letter-spacing: 5px;
    margin-top: 20px;
}

.centered p{
    
    margin-top: 20px;
}

.bn-btn{
    margin-top: 40px;
    width:250px;
    height: 40px;
    background-color: #f4ac04;
    color: #fff;
    text-transform: uppercase;
    border: #f4ac04;
}
.bn-btn:hover{
    border: #fff;
    cursor: pointer;
    background-color: transparent;
    border-left: #fff 1px solid;
    border-top: #fff 1px solid;
    border-right: #fff 1px solid;
    border-bottom: #fff 1px solid;
}

.sg-facilities {
    margin:0;
    padding: 0;
    min-height: 120vh;

}
.sg-facilities .heading {
    width: 100%;
}
.heading h1 {
    text-align: center;
    margin-top: 50px;
    color: rgb(61, 60, 60);
}

.sg-facilities p {
    text-align: center;
    margin-top: 10px;
    color: rgb(61, 60, 60);
}

.sg-facilities .card {
    margin-top: 50px;

}

.card img{
display: inline-block;
position: relative;
margin-left: 30px;
}




.suspended {
    position: relative;
   
}
.suspended .sd-heading {
    position: relative;
    text-align: center;
     width:100%;
}

.suspended h1{
    text-align: center;
    margin-top: 60px;
    color: rgb(61, 60, 60);
    margin-bottom: 20px;
    
}

.suspended
p {
    text-align: center;
    margin-top: 20px;
    color: rgb(61, 60, 60);
    margin-bottom: 20px;

}



.column{
    
    position: relative;
    width:20vh;
    height: 20vh;
    border-radius: 50%;
    border:2px solid rgb(85, 85, 85);
    margin-left: 0px;
}
.column img{
    margin: 30px;
    cursor: pointer;
}

.column:hover{
    background-color: #f4ac04;
}
.card-img-sus img{
    width:100%;
}


.card .card-body-sus{
    width: 100%;
    position: relative;
    margin-top: -50px;
     
}

.card-top{
    width: 90%;
   margin: 30px;
}


.review{
        background: #0c74a4;
        width: 100%;
        height: 90vh;
        margin-top: 70px;
        margin-bottom: 50px;
}

.review-heading{
    position: relative;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    color:#fff;
    
}

.review-heading h1{
    font-size: 25px;
}

.review-heading p{
    margin-top: 20px;
    letter-spacing: 1px;
}

.card-rew{
    width: 50%;
}
.card-top-rew {
    margin-top: 50px;
    margin-left: 240px;
    width:120px;
    border-radius: 50%;
    margin-bottom: 50px;
}

.card-body-rew{
    position: relative;
    text-align: center;
}
.card-body-rew p{
    background-color: #fff;
    color: rgb(58, 56, 56);
    width: 85%;
    height: 14vh;
    padding-top: 10px;
    padding:20px;
    margin-bottom: 30px;
}

.card-body-rew span{
    
    margin-left: -300px;
    color: #fff;
    font-size: 20px;
}
.card-body-rew h4{
    color:#fff;
    margin-right: 50px;
    margin-top: 5px;
}

.latest-news{
    position: relative;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
}


.latest-news .news-heading {
     color: rgb(58, 56, 56);
    text-align: center;
    
}

.news-heading h1{
    font-size:24px;
    font-weight: 550;
    margin-bottom: 10px;
}


.news-card{
    width: 100%;
    margin: 50px;
}

.news-card h2{
    margin-top: 20px;
    text-align: center;
    color: rgb(73, 73, 73);
    font-size: 22px;
}
.news-card p{
    margin-bottom: 40px;
    margin-top: 20px;
    justify-content: flex-start;
    color: rgb(73, 73, 73);

}

.btn-news{
    
    width: 50%;
    height: 6vh;
    background-color: #f4ac04;
    border: #f4ac04;
    cursor: pointer;
}


.btn-news:hover {
    border:#f4ac04;
    cursor: pointer;
    background-color: transparent;
    border-left: #f4ac04 1px solid;
    border-top: #f4ac04 1px solid;
    border-right: #f4ac04 1px solid;
    border-bottom:#f4ac04 1px solid;
    color:#000;
}



.address{
    position: relative;
    background: #0c74a4;
    width: 100%;
    height: 50vh;
    margin-top: 70px;
    margin-bottom: 50px;
}

.address-heading{
    
   
}
.address-heading h1,p{
    color:#fff;
}
.address-heading{
    position: absolute;
   text-align: center;
   width: 100%;
   margin-top: 50px;
}

.flex-container>div {
    background-color: #f1f1f1;
   
    display: inline-block;
    margin-top: 150px;
    width: 300px;
    margin-left: 100px;
    height: 12vh;
    
}

.address-list h2{
    color: rgb(66, 66, 66);
    font-size:18px;
    margin-left: 30px;
    margin-top: 20px;
}


.address-list p{
    color: rgb(66, 66, 66);
    font-size:14px;
    margin-left: 30px;
    margin-top: 10px;
    letter-spacing:2px;

}

.footer{
    position: relative;
    margin:0;
    padding:0;
    
}

.footer .col-s-12 {
    width: 100%;

    display: inline-flex;
    background-color: #0c74a4;
    margin: 30px;
}

.footer-title p{
    color: #000;
}

.col-1{
flex:2;
width: 100%;
margin: 50px;

}
.col-2{
flex: 2;
margin: 50px;

}
.col-3{
flex: 2;
margin: 50px;

}

.col-1 p{
    padding: 20px;
    line-height: 20px;
    letter-spacing:2px;
    color: rgb(66, 66, 66);
}
.col-2 p{
    color: #f4ac04;
    margin-top: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}
.col-3 p {
    margin-top: 20px;
    line-height: 20px;
    letter-spacing: 1px;
    color: rgb(66, 66, 66);
}

form{
    position: relative;
}
.btmspace-15{
    width: 80%;
    margin-top: 10px;
    height: 30px;
    background-color: #0c74a4;
    border: #0c74a4;
    padding-left: 20px;
}


.btn-footer{
margin-top: 20px;
 width: 40%;
 height: 6vh;
 background-color: #f4ac04;
 border: #f4ac04;
 cursor: pointer;
 text-transform: uppercase;
 color: #f1f1f1;
 font-size: 18px;
 }

.copyright{
   
    height: 6vh;
    background-color: rgb(206, 206, 206);
}
.copyright p{
    color: rgb(54, 54, 54);
    margin-left: 100px;
    padding-top:10px;
    line-height: 20px;
    letter-spacing: 1px;
}











